version: "3.8"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_SERVICE_ROLE_KEY=${SUPABASE_SERVICE_ROLE_KEY}
      - SUPABASE_JWT_SECRET=${SUPABASE_JWT_SECRET}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - CLOUD_FLARE_API_KEY=${CLOUD_FLARE_API_KEY}
      - CLOUD_FLARE_ACCOUNT_ID=${CLOUD_FLARE_ACCOUNT_ID}
    restart: unless-stopped
